<div class="reminderscontainer">
   <table class="reminders-table">
      <% @patient_vaccines.each do |pid, pvs| %>
	 <tr class="reminders-name-tr">
	    <td class="reminders-name-td"><%= pvs[0][:first_name]%> <%= pvs[0][:last_name] %></td>
	    <td>
	       <table class="reminders-sub-table">
		  <% pvs.each do |pv| %>
		     <tr>
			<td><%= pv[:vaccine_name] %></td>
			<td><%= pv[:next_dose_on].strftime("%d %b %y") %></td>
		     </tr>
		  <% end %>
	       </table>
	    </td>
	 </tr>
      <% end %>
   </table>
</div>
