<html>
   <body>
      Hi <%= @pvs[0][:first_name] %>,

      You are scheduled for the following vaccines:

      <ul>
	 <% @pvs.each do |pv| %>
	    <li><%= pv[:name]  %></li>
	 <% end %>
      </ul>
   </body>
</html>
