<html>
   <body>
      Hi <%= @patient.first_name %>,

      You are scheduled for the following vaccines:

      <ul>
	 <% @pvs.each do |pv| %>
	    <li><%= @vaccines_info[pv.vaccine_id][:name]  %></li>
	 <% end %>
      </ul>
   </body>
</html>
