.patients-container {
   width:70%;
   margin:auto;
}

.nadose {
   background-color:#e7e7e7
}

.newdose {
   color:#919191
}

#top-header {
   /*background-color: #0ca3d2;*/
   background-color: #3CCDFA;
   padding: 12px 0;
   max-height: 48px;
   width:70%;
   margin:auto;
}

