#reminders-table {
   width:100%;
   color: blue;
   border: 1px solid black;
   border-collapse: collapse;
}

.reminders-name-tr {
   border-bottom: 1px solid black;
}
.reminders-name-td {
   text-align: center;
}

.reminders-sub-table {
   border-collapse: collapse;
   width:100%;
}
